.button-edit-form {
    margin-left: 12px;
    background-color: rgb(3, 189, 46);
}

.button-edit-form:hover {
    background-color: rgb(0, 109, 26);
    transition: 0.4s;
    color: white;
}

.button-edit-cancel {
    margin-left: 12px ;
    background-color: rgb(212, 25, 0);
}

.button-edit-cancel:hover {
    background-color: rgb(164, 53, 12);
    transition: 0.4s;
    color: white;
}

