.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  background-color: #525252; 
}

.empty-message {
  font-size: 1.2em;
  color: #b9b9b9;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.item-card {
  background: #7c7c7c; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.item-image {
  width: 80%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #000000;
}

.item-info {
  padding: 16px;
  text-align: center;
  background-color: #7c7c7c; 
}

.item-name {
  font-size: 1.4em;
  margin: 0;
  color: #ffffff;
}

.item-quantity,
.item-supplier,
.item-price {
  margin: 8px 0;
  color: #ffffff;
}

.item-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.action-button {
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
}

.edit-button {
  background-color: #4caf50;

  position: relative;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.delete-button {
  background-color: #f44336;

  position: relative;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.edit-button:hover {
  background-color: #45a049;
  transition: 0.4s;
}

.delete-button:hover {
  background-color: #e53935;
  transition: 0.4s;
}
